<!DOCTYPE html>
<html lang="en" ng-app="RegistrationScreen">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px;
        }
        textarea { resize:none; }
    </style>
    <script src="js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script src="js/registration.js"></script>

    <!--datetimepicker-->
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/datetimepicker/jquery.datetimepicker.full.js"></script>

</head>
<body ng-controller="RegistrationScreenController">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-right container-fluid">
        <ul class="nav navbar-nav">
            <li id="lt" class="active"><a href="#">LT</a></li>
            <li id="en"><a href="#">EN</a></li>
            <li id="ru"><a href="#">RU</a></li>
            <li id="ee"><a href="#">EE</a></li>
            <li id="lv"><a href="#">LV</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1>{{ nameList.header }}</h1>
</div>

<div ng-show="step==1" id="overviewDiv" class="container">
    <table class="table table-condensed">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Topic</th>
        </tr>
        </thead>
        <tr ng-repeat="x in registrationInfo">
            <td>{{$index + 1}}</td>
            <td>{{ x[2] }}</td> <!-- date -->
            <td>{{ x[3] }}</td><!-- branch -->
            <td>{{ x[0] }}</td><!-- subject -->
            <td><input class="btn btn-primary" type="submit"
                       ng-click="preview({{ x[9] }})" value="Preview"></td>
            <td>        <input class="btn btn-primary" type="submit"
                               ng-click="remove({{ x[9] }})" value="Remove"> </td>
        </tr>
    </table>

    <a href="index.html" class="col-xs-2 btn btn-primary">{{buttons.back}}</a>

    <input class="col-xs-offset-8 col-xs-2 btn btn-primary" type="submit"
           ng-click="stepUp()" value="Register"/>
</div>


<div ng-show="step==2" id="formDiv" class="container">
    <form id="registrationForm" name="registrationForm" class="form-horizontal" ng-model-options="{ updateOn: 'default'}" novalidate>
        <!-- name -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.name.$pristine && registrationForm.name.$invalid }">
            <label for="inputName" ng-model="inputName" class="col-xs-2">{{ nameList.name }}</label>
            <div class="col-xs-10">
                <input type="text" name="name" class="form-control" id="inputName"
                       ng-model="main.name"
                       ng-minlength="5"
                       ng-maxlength="10"
                       Required>
                <div class="help-block" ng-messages="registrationForm.name.$error"
                     ng-if="!registrationForm.name.$pristine">
                    <p ng-message="minlength">{{ errorList.nameTooShort }}</p>
                    <p ng-message="maxlength">{{ errorList.nameTooLong }}</p>
                    <p ng-message="Required">{{ errorList.enterName}}</p>
                </div>
            </div>
        </div>
        <!-- surname -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.surname.$pristine && registrationForm.surname.$invalid }">
            <label for="inputSurname" class="col-xs-2">{{ nameList.surname }}</label>
            <div class="col-xs-10">
                <input type="text" name="surname" class="form-control" id="inputSurname"
                       ng-model="main.surname"
                       ng-minlength="5"
                       ng-maxlength="10"
                       Required>
                <div class="help-block" ng-messages="registrationForm.surname.$error"
                     ng-if="!registrationForm.surname.$pristine">
                    <p ng-message="minlength">{{ errorList.surnameTooShort }}</p>
                    <p ng-message="maxlength">{{ errorList.surnameTooLong }}</p>
                    <p ng-message="Required">{{ errorList.enterSurname }}</p>
                </div>
            </div>
        </div>
        <!-- phone -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.phoneNr.$pristine && registrationForm.phoneNr.$invalid }">
            <label for="inputPhone" class="col-xs-2">{{ nameList.phone }}</label>
            <div class="col-xs-10">
                <input type="text" name="phoneNr" class="form-control" id="inputPhone"
                       ng-model="main.phoneNr"
                       ng-minlength="8"
                       ng-maxlength="15"
                       Required>
                <div class="help-block" ng-messages="registrationForm.phoneNr.$error"
                     ng-if="!registrationForm.phoneNr.$pristine">
                    <p ng-message="minlength">{{ errorList.phoneTooShort }}</p>
                    <p ng-message="maxlength">{{ errorList.phoneTooLong }}</p>
                    <p ng-message="Required">{{ errorList.enterPhone }}</p>
                    <p ng-message="number">{{ errorList.enterPhone  }}</p>
                </div>
            </div>
        </div>
        <!-- email -->
        <div class="form-group" ng-class="{ 'has-error': registrationForm.email.$invalid }">
            <label for="inputEmail" class="col-xs-2">{{ nameList.email }}</label>
            <div class="col-xs-10">
                <input class="form-control" type="email" name="email" id="inputEmail"
                       ng-model="main.email"/>
                <div class="help-block" ng-messages="registrationForm.email.$error">
                    <p ng-message="minlength">{{ errorList[12] }}</p>
                    <p ng-message="maxlength">{{ errorList[13] }}</p>
                    <p ng-message="Required">{{ errorList[14] }}</p>
                    <p ng-message="email">{{ errorList[15] }}</p>
                </div>
            </div>
        </div>
        <!-- branch -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.bankDivision.$touched && registrationForm.bankDivision.$invalid }">
            <label for="inputBankDivision" class="col-xs-2">{{ nameList.bankDivision }}</label>
            <div class="col-xs-10">
                <select type="text" name="bankDivision" class="form-control" id="inputBankDivision"
                        ng-model="main.bankDivision" required>
                    <option ng-repeat="bankDivision in bankDivisions " value="{{ bankDivision }}">{{ bankDivision}}
                    </option>
                </select>
                <div class="help-block" ng-messages="registrationForm.bankDivision.$error"
                     ng-if="!registrationForm.bankDivision.$touched">
                </div>
            </div>
        </div>
        <!-- date -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.date.$touched && registrationForm.date.$invalid }">
            <label for="inputDate" class="col-xs-2">{{ nameList.date }}</label>
            <div class="col-xs-10">
                <input type="text" name="date" id="inputDate" class="form-control"
                       ng-model="main.date" ng-minlength="16" ng-maxlength="16" required/>
                <div class="help-block" ng-messages="registrationForm.date.$error"
                     ng-if="!registrationForm.date.$touched">
                    <p ng-message="minlength">{{ errorList.dateTooShort }}</p>
                    <p ng-message="maxlength">{{ errorList.dateTooLong }}</p>
                    <p ng-message="required">{{ errorList.enterDate }}</p>
                    <p ng-message="datetime">{{ errorList.wrongDateFormat }}</p>
                </div>
            </div>
        </div>
        <!-- topic -->
        <div class="form-group"
             ng-class="{ 'has-error': !registrationForm.topic.$touched && registrationForm.topic.$invalid }">
            <label for="inputTopic" class="col-xs-2">{{ nameList.topic }}</label>
            <div class="col-xs-10">
                <select type="text" class="form-control" name="topic" id="inputTopic" ng-model="main.topic" required>
                    <option ng-repeat="topic in topics" value="{{ topic }}">{{ topic }}</option>
                </select>
                <div class="help-block" ng-messages="registrationForm.topic.$error"
                     ng-if="!registrationForm.topic.$touched">
                </div>
            </div>
        </div>
        <!-- comments -->
        <div class="form-group">
            <label for="inputOther" class="col-xs-2">{{ nameList.other }}</label>
            <div class="col-xs-10">
                <textarea ng-model="main.comment" class="form-control" rows="5" id="inputOther"></textarea>
            </div>
        </div>

        <input ng-click="stepDown()" class="col-xs-2 btn btn-primary" type="submit" value="{{ buttons.back }}"/>
        <input class="col-xs-offset-8 col-xs-2 btn btn-primary" ng-disabled="registrationForm.$invalid" type="submit"
               ng-click="submitForm()" value="{{ buttons.send}}">
    </form>
</div>


<div ng-show="step==3" id="confirmDiv" class="container">
    <form id="confirmForm" class="form-horizontal" novalidate>
        <!-- name -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.name }}</label>
            <p class="col-xs-10">{{ main.name }}</p>
        </div>
        <!-- surname -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.surname }}</label>
            <p class="col-xs-10">{{ main.surname }}</p>
        </div>
        <!-- phone -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.phone }}</label>
            <p class="col-xs-10">{{ main.phoneNr }}</p>
        </div>
        <!-- email -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.email }}</label>
            <p class="col-xs-10">{{ main.email }}</p>
        </div>
        <!-- branch -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.bankDivision }}</label>
            <p class="col-xs-10">{{ main.bankDivision }}</p>
        </div>
        <!-- date -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.date }}</label>
            <p class="col-xs-10">{{ main.date }}</p>
        </div>
        <!-- topic -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.topic }}</label>
            <p class="col-xs-10">{{ main.topic }}</p>
        </div>
        <!-- comments -->
        <div class="form-group">
            <label class="col-xs-2">{{ nameList.other }}</label>
            <p class="col-xs-2">{{ main.comment }}</p>
        </div>
        <hr>
        <div class="form-group">
            <p>{{ confirmationNameList[1] }}</p>
            <p>{{ confirmationNameList[2] }}</p>
        </div>
        <a href="index.html" class="col-xs-offset-10 col-xs-2 btn btn-primary">{{ buttons.back }}</a>
    </form>
</div>

</body>
</html>
